@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* pensa que o body é a caixa grande e o section a caixa pequena dentro dele, certo?
Por isso eu usei o flex para alinhar o section no centro, mas eu preciso especificar a altura e largura da caixa grande pra caixa pequena saber onde ela vai caber. */
body {
    height: 100vh;
    max-width: 1440px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;    
}


section{
    display: flex;
    width: 300px;
    height: 350px;
    flex-direction: column;
    /* margin: 50% auto; */
    /* se você usa o flex então pode usar essas duas propriedades abaixo para alinhar as coisas ao centro! Não precisa de margin */
    justify-content: center;
    align-items: center;
    
    background-color: #1C1917;
    padding: 20px;
    border-radius: 10px;
}
div > p, h1{
    color: #F2F2F2;
}

/* Aqui você tem que estilizar as labels */
/* e lembra que essas classes não existem mais, você usou id's
então seria: #iemail e #ipassword */
.email p, .password p {
    padding: 5px;
    font-weight: 500;
    margin-left: 25px;
    font-family:"Roboto Mono", monospace; 
    font-size: 13px;
    
}

/* .email input, .password input{ */
/*  Já que as classes não existem mais é mais fácil selecionar todos os inputs do form! */
form input {
    background-color: #545454;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 2px 5px;
    outline: none;
}
section > div > input{
    margin: auto;
    display: flex;
    width: 200px;
    height: 35px;
}

h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 40px;
    font-family:"Roboto Mono", monospace; 
}

/* Aqui eu to selecionando o input do tipo 'submit' diretamente pelo css, mas nada impede do você criar uma classe nele e estilizar! É só mais um jeito de selecionar ele no CSS */
/* section button{ */
section input[type='submit'] {
    width: 70px;
    height: 30px;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    margin-left: 160px;
    margin-top: 25px;
    background-color: #15803D;
    border: none;
    border-radius: 5px;
    font-family:"Roboto Mono", monospace; 
    
}
/* section button:hover{ */
section input[type='submit']:hover {
    width: 70px;
    height: 30px;
    padding: 5px 10px;
    color: white;
    font-weight: 600;
    margin-left: 160px;
    margin-top: 25px;
    background-color: #116932;
    border: none;
    border-radius: 5px;
    font-family:"Roboto Mono", monospace; 
    
}
.dontHaveAcount p{
    font-size: 11px;
    text-align: center;
    margin-top:20px;
    font-weight: 300;
    
    font-family:"Roboto Mono", monospace; 
}
.password > .passwordForget {
    margin-left: 130px;
    color: #22C55E;
    font-size: 10px;
}
.dontHaveAcount a{
    color: #22C55E;
}